<?xml version='1.0' encoding='UTF-8'?>
<ns0:Properties xmlns:ns0="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties"><ns0:Template>testvba.dotm</ns0:Template><ns0:TotalTime>0</ns0:TotalTime><ns0:Pages>1</ns0:Pages><ns0:Words>1</ns0:Words><ns0:Characters>6</ns0:Characters><ns0:Application>Microsoft Office Word</ns0:Application><ns0:DocSecurity>0</ns0:DocSecurity><ns0:Lines>1</ns0:Lines><ns0:Paragraphs>1</ns0:Paragraphs><ns0:ScaleCrop>false</ns0:ScaleCrop><ns0:Company /><ns0:LinksUpToDate>false</ns0:LinksUpToDate><ns0:CharactersWithSpaces>6</ns0:CharactersWithSpaces><ns0:SharedDoc>false</ns0:SharedDoc><ns0:HyperlinksChanged>false</ns0:HyperlinksChanged><ns0:AppVersion>16.0000</ns0:AppVersion></ns0:Properties>